:root{
    --vermelho: #e50914;
    --preta: #141414;
}

/*Element Basic*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    font-weight: bold;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right:10px ;
}

header nav a:hover{
    color: #fff;
}

/*Main Movie*/
.main-movie{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/Netflix/img/capa-thebig.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description{
    margin-top: 10px;
    margin-bottom: 40px;
}

.title{
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.button{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.button:hover{
    background-color: white;
    color: black;
    
}

.button i{
    margin-right: 8px;
}

.wrapper{
    margin-left: 20px;
}

.main-movie .wrapper{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

